.calculator__display {
    text-align: center;
    width: 40%;
    margin: auto;
    border: 2px solid black;
  }
  .calculator__display__td {
    column-span: all;
  }
  
  .calculator__display__previous-calculation{
    text-align: left;
  }